<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./jqTest.js"> -->
    <!-- <link rel="stylesheet" href="../assetjs/jquery/jquery-1.11.2.min.js"> -->
    <!-- <script type="text/javascript" src="./jqTest.js"></script> -->
    <link rel="stylesheet" href="./css/common/base.css">
    <script src="./assetjs/vue/vue.js"></script>
    <script src="./assetjs/jwplayer/jwplayer.js"></script>
</head>
<style>
    .playApp{
        position: relative;
        height: 900px;
    }
    .ulA{
        width: 100px;
        height: 100%;
        margin-right: 100px;
     }
    .ulA ul>li{
      width: 100px;
      height: 50px;
      border: 1px solid gold;
      user-select:none;
      -webkit-user-select:none; 
      -moz-user-select: -moz-none; 
      -moz-user-select: none; 
    }
    .dragDiv{
      position: absolute; 
      width: 100px;
      height: 50px;
      border: 1px solid red; 
      user-select:none;
      -webkit-user-select:none; 
      -moz-user-select: -moz-none; 
      -moz-user-select: none; 
    }
    .ulB {
        height: 100%;
        width: 800px;
        /* border: 1px solid gold; */
    }
    .ulB .ulB-a{
        width: 100%;
        height: calc(100% - 100px);
    }
    .ulB .ulB-a>li{
        float: left;
        background-color:greenyellow;
    }
    .ulB .ulB-a>li.active{
        box-shadow: 0 0 0.35rem red inset;
    }
    .ulB .ulB-a1>li{ height: 100%; width: 100%;}
    .ulB .ulB-a2>li{height: 100%; width: 50%;}
    .ulB .ulB-a3>li{height: 50%;width: 50%;}
    .ulB .ulB-a3>li:last-of-type { margin: 0 auto;margin-left: 200px;}
    .ulB .ulB-a4>li{height: 50%;width: 50%; }
    .ulB .ulB-a9>li{height: 33.33%;width: 33.33%;}
    .ulB .ulB-b >li {
        float: left;
        margin-right: 20px;
        width: 100px;
        height: 50px;
        background-color: skyblue;
    
    }
    .div{
        margin-left: 100px;
    }
</style>
<body>
    <div class="div">
        hahahahaSDFasdfad sdfsf 士大的aa
        <!-- <div  class="playab" style="width:300px;height:300px;border: 1px solid red;"></div> -->
        <!-- <div  class="playac" style="width:300px;height:300px;border: 1px solid red;"></div> -->
        <div id="app">
        
            </div>
    </div>
    
    <!-- <div>
        <form action="upload" method="POST" enctype="multipart/form-data">
             <input type="file" name="file"/>
             <br>
             <input type="submit" value="submit" name="submit">
        </form>
    </div> -->
    
    <script>
        // var ab={a:1,b:2};
        // //alert('a' in ab);
        // function Person(){
        //     this.x=0;
        //     this.y=0;
        //     this.method1=function(){}
        // }
        // Person.prototype.method2=function(x,y){
        //     this.x+=x;
        //     this.y+=y;
        //     console.info("Person method");
        // }
        // function Man(){
        //     Person.call(this);
        // }
        // Man.prototype=Object.create(Person.prototype);
        // Man.prototype.constructor=Man;

        // // Man.prototype.m2=function(){}
        // var m=new Man();
        //    console.log(m);
        // for(var a in m.__proto__){
        //     console.log(a);//
        // }
        // var m1=Object.getPrototypeOf(m);
        // //console.log(m1);
        // for(var b in m1){
        //     console.log(b);
        // }
        // console.log(m1===m.__proto__);
        // var obj=Object.create(ab,{
        //     z:{
        //         value:5,
        //         writable:true,
        //         enumerable:true,
        //         configurable:true
        //     }
        // });
        // obj.z=11;
        // obj.q=12;
        // console.log(obj.q);
        // for(var prop in obj){
        //     console.log(prop+"------"+obj[prop]);
        // }
    
    </script>
    <script>
        // var dragDivv=Vue.extend({
        //     template:`<div class="dragDiv">{{msg}}</div>`,
        //     data:function(){
        //         return{
        //          msg:"I AM drag"
        //         }
        //     }
        // });
       // var  drag=new dragDivv();
       // drag.$mount('.playApp');
       var util={
           //相对视窗的偏离位置
             getOffset:function(el){
                 var offSet={
                     top:0,
                     left:0
                 },node=el;

                 while(node!==null){
                     offSet.left+=node.offsetLeft;
                     offSet.top+=node.offsetTop;
                     node=node.offsetParent;
                 }
                 return offSet;
             },

       };
        // var div1=document.getElementById('playaa'); //
        // var div1=document.getElementsByClassName('playab')[0];
        // var div2=document.getElementsByClassName('playac')[0];
        // console.log(div2);
        // div1.id="sddd";
        // div2.id="sefsf";
        // var playaa=jwplayer(div1).setup({

        // });
        // var playac=jwplayer(div2).setup({

        // });
        // console.log(playaa);
        var dragDiv=Vue.component('dragBox',{
                        template:`<div class="dragDiv" :style="style"><slot></slot>{{msg}}</div>`,
                        props:{
                          style:{
                              type:Object,
                              default:function(){
                                return{
                                  top :"50px",
                                  left:"100px",
                                  display:"none"
                                }
                              }
                            }
                        },
                        data:function(){
                            return{
                                msg:"I AM drag"
                            }
                        },
                        created:function(){
                            console.log(this.$attrs,22);
                        }
                    });
           
        // console.log(dragDiv);
        Vue.component('boxPlayer',{
            template:`<div class="playApp" @mousemove="dragMove($event)" @mouseup="dragStop($event)">
                   <div class="ulA fl">
                    <ul>
                    <li v-for="(item,$index) in videoData" @mousedown="dragStart($event,item)">A{{$index+1}}</li>
                    </ul>
                    </div>
                   
                    <div class="ulB fl">
                        <ul class="ulB-a" :class="liStyle">
                            <li v-for="(item,$index) in boxs" slot="head" @mouseenter="dragEnter($event)" :class="[$index==activeIndex?'active':'']">B{{item}}</li>   
                        </ul>
                        <ul class="ulB-b">
                            <li @click="fnClick(1)">1</li>
                            <li @click="fnClick(2)">2</li> 
                            <li @click="fnClick(3)">3</li> 
                            <li @click="fnClick(4)">4</li>
                            <li @click="fnClick(9)">9</li>     
                        </ul> 
                    </div>
                    <drag-box :style="drapData">qwwe</drag-box>
                </div>`,
            data() {
                return {
                    msg:"你好",
                    videoData:[
                        {  
                            id:1,
                            path:"rtmp://192.168.10.248/vod/2017-9-22/录播测试20170922154756-d32f8551-f102-489a-a174-49780560fa2a.flv"
                        },{
                            id:22,
                            path:"rtmp://192.168.95.248/vod/2018-5-5/中央综治办第二次会议E1525501101425-4333f21b-220b-4f60-acf3-9cd65e8ff476.flv"
                        },{
                            id:13,
                            path:"rtmp://192.168.95.248/vod/2018-5-11/中央综治办第二次会议E1526036974737-3f0f7989-1d75-4465-b3f4-c015b0493a2b.flv"
                        },{
                            id:11,
                            path:"rtmp://192.168.95.248/vod/2018-5-14/中央综治办第二次会议E1526286157514-c64e5d8d-fccf-4bd1-b966-eda6de087530.flv"
                        },{
                            id:14,
                            path:"rtmp://192.168.10.248/vod/2017-9-22/录播测试20170922154756-d32f8551-f102-489a-a174-49780560fa2a.flv"
                        }
                    ],//视频列表
                    boxs:[{id:1}],//编辑区元素的数据
                    liStyle:'ulB-a1',//编辑区样式
                    dragging:null,//移动状态
                    diffx:0,
                    diffy:0,//移动元素与鼠标的相对偏移量
                    drapData:{top:"100px",left:"200px"}, //移动元素坐标
                    baseOffset:{},
                    activeIndex:-1,
                    videoObj:{},//当前视频播放数据

                };
            },
            created () {
                
            },
            mounted () {
                var playApp=document.getElementsByClassName('playApp'),
                    playAppOffset=util.getOffset(playApp[0]),//相对窗口的偏移
                    playUla=document.getElementsByClassName('ulB-a'),
                    playUlaOffset={     //相对父元素的偏移
                        top:playUla[0].offsetTop,
                        left:playUla[0].offsetLeft,
                        width:playUla[0].offsetWidth,
                        height:playUla[0].offsetHeight
                    };
                    this.baseOffset.playAppOffset=playAppOffset;
                    this.baseOffset.playUlaOffset=playUlaOffset;
                // playUlaOffset.top=
                //console.log(playUlaOffset);
            },
            methods: {
                fnClick($index){
                    //drag.$mount('.playApp');
                    if($index<this.boxs.length){
                      this.boxs.splice($index,this.boxs.length-$index);
                    }else{
                        while(this.boxs.length!=$index){
                             this.boxs.push({id:this.boxs.length+1});
                        }
                    }
                    this.liStyle="ulB-a"+$index;
                },
                //mouseDown
                dragStart:function(e,$list){
                    this.drapData={
                        top:e.target.offsetTop+"px",
                        left:e.target.offsetLeft+"px",
                    }
                    //console.log(e.clientX,e.target.offsetLeft);
                    this.diffx=e.clientX-e.target.offsetLeft;
                    this.diffy=e.clientY-e.target.offsetTop;
                    this.dragging="target";
                    this.videoObj=$list;
                    //获取编辑区元素的坐标数据
                    var targetEls=document.getElementsByClassName(this.liStyle)[0].children;
                    for(var i=0;i<targetEls.length;i++){
                        //targetEls[i].id="jwplayID"+(i+1);
                        this.boxs[i].left=targetEls[i].offsetLeft;
                        this.boxs[i].top=targetEls[i].offsetTop;
                        this.boxs[i].width=targetEls[i].offsetWidth;
                        this.boxs[i].height=targetEls[i].offsetHeight;
                        this.boxs[i].el=targetEls[i];
                        // console.log(util.getOffset(targetEls[i]));
                    }
                   // console.log(e.clientX);
                   // console.log(this.boxs);
                },
                //mouseMovie
                dragMove:function(e){
                    this.activeIndex=-1;
                     if(this.dragging!==null){
                         //var top;
                        console.log("move");
                        
                        this.drapData={
                            top:(e.clientY-this.diffy)<0?0:(e.clientY-this.diffy)+"px",
                            left:(e.clientX-this.diffx)<0?0:(e.clientX-this.diffx)+"px",
                            display:"block"
                        }
                        var mouseX=e.clientX-this.baseOffset.playAppOffset.left;
                        var mouseY=e.clientY-this.baseOffset.playAppOffset.top;
                        if(mouseX>=this.baseOffset.playUlaOffset.left&&mouseY>=this.baseOffset.playUlaOffset.top){
                            //  console.log(11);
                            for(var i=0;i<this.boxs.length;i++){
                                var box=this.boxs[i];
                             
                               if((mouseX-box.left<=box.width)&&(mouseX-box.left>0)&&(mouseY-box.top<=box.height)&&(mouseY-box.top>0)){
                                   this.activeIndex=i;
                                   //console.log(11,i);
                                   break;
                               }
                            }   
                        }
                        
                        // console.log(e.target);
                     }
                },
                //mouseUp
                dragStop:function(e){
                    // console.log(e.target);
                    // console.log("stop");
                    // console.log(e.target);
                    // console.log(this.$slots,1);
                   // console.log(this.activeIndex);
                   var _this=this;
                    this.dragging=null;
                    this.drapData.display="none";
                    if(this.activeIndex!==-1){
                        var item=this.boxs[this.activeIndex];
                        item.el.id="jwplayID"+this.videoObj.id;    
                        item.jwplayerObj=jwplayer(item.el).setup({
                            flashplayer: "assetjs/jwplayer/jwplayer.flash.swf",
                            file: _this.videoObj.path,
                            width: item.width,  //屏幕可视区
                            height:item.height,
                        }).utils.css('float','left');
                        var aa=item.jwplayerObj;
                        console.log(aa);
                    }
                   
                    // var dragWidth=e.target.offsetWidth,
                    //     dragHeight=e.target.offsetHeight,
                    //     dragLeft=e.target.offsetLeft,
                    //     dragTop=e.target.offsetTop;
                    // switch(this.boxs.length){
                    //     case 1:
                        
                    //        //console.log(this.boxs[0]);
                    //        var left=this.boxs[0].left,
                    //            width=this.boxs[0].width,
                    //            top=this.boxs[0].top,
                    //            height=this.boxs[0].height;
                    //        if(dragLeft>=left&&(dragLeft+dragWidth)<=(left+width)&&dragTop>=top&&(dragTop+dragHeight)<=(top+height)){
                    //           console.log("limian00");
                    //        }
                    //        break;
                    //     case 2:
                    //        break;
                    //     case 3:
                    //        break;
                    //     case 4:
                    //        break; 
                    // }              
                    //console.log(width);
                    // console.log(e.target.offsetTop);
                   
                },
                dragEnter:function(e){
                    //   console.log(e.target);
                    //  if(this.dragging!==null){
                    //     console.log(11);
                    //     console.log("enter");

                    //  }
                },
                DragDrop:function(){
                    var dragging=null,
                        diffx=0,
                        diffy=0,
                        dragdrop=new EventTarget();

                    function handleEvent(event) {
                        //获取事件和目标
                        event=EventUtil.getEvent(event);
                        var target=EventUtil.getTarget(event);
                        //确定事件类型
                        switch(event.type){
                            case "mousedown":
                                if(target.className.indexOf("draggable")>-1){
                                    dragging=target;
                                    diffx=event.clientX-target.offsetLeft;
                                    diffy=event.clientY-target.offsetTop;
                                    dragdrop.fire({type:"dragstart",target:dragging,X:event.clientX,y:event.clientY});
                                }
                                event.preventDefault();
                                break;
                            case "mousemove":
                                if(dragging!==null){
                                    //指定位置
        //							if(dragging.offsetLeft<0){
        //                                dragging.style.left=0;
        //							}else if(dragging.offsetLeft+dragging.offsetWidth>=docwidth){
        //                                dragging.style.left=(docwidth-dragging.offsetWidth)+"px";
        //							}else {
        //
        //							}
        //
        //                            if(dragging.offsetTop<0){
        //                                dragging.style.top=0;
        //                            }else if(dragging.offsetTop+dragging.offsetHeight>=docheight){
        //                                dragging.style.top=(docheight-dragging.offsetHeight)+"px";
        //                            }else {
        //
        //                            }
                                    console.log(2);
                                    dragging.style.left=(event.clientX-diffx)+"px";
                                    dragging.style.top=(event.clientY-diffy)+"px";
                                    //触发自定义事件
                                    dragdrop.fire({type:"drag",target:dragging,x:event.clientX,y:event.clientY});
                                }
                                break;
                            case "mouseup":
                                dragdrop.fire({type:"dragend",target:dragging,x:event.clientX,y:event.clientY});
                                dragging=null;
                                break;
                        }
                    }
                    //公共接口

                        dragdrop.enable=function () {
                            EventUtil.addHandler(document,"mousedown",handleEvent);
                            EventUtil.addHandler(document,"mousemove",handleEvent);
                            EventUtil.addHandler(document,"mouseup",handleEvent);
                        };
                        dragdrop.disable=function () {
                            EventUtil.removeHandler(document,"mousedown",handleEvent);
                            EventUtil.removeHandler(document,"mousemove",handleEvent);
                            EventUtil.removeHandler(document,"mouseup",handleEvent);
                        };
                        return dragdrop;
                },

            }

        });
            
        var vm=new Vue({
            el:"#app",
            data:{

            },
            created:function(){
                console.log(Vue.version);
            },
            render:c=> c('box-player')

        })
    </script>
</body>

</html>
